.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem var(--bs-purple);
}
.btn-primary{
  background-color: var(--bs-purple) ;
  border-color: var(--bs-purple);
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem var(--bs-purple) !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var(--bs-indigo) !important;
  border-color: var(--bs-indigo)!important;
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-purple);
}

.text-primary {
  color: var(--bs-purple) !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease .5s;
  background-color: #6e42c154;
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.3;
  background: var(--bs-purple);
}

.portfolio-hover-content i{
  opacity: 1;
  color: white;
}

.timeline > li .timeline-image {
  /*position: absolute;*/
  /*z-index: 100;*/
  /*left: 0;*/
  /*width: 80px;*/
  /*height: 80px;*/
  /*margin-left: 0;*/
  /*text-align: center;*/
  /*color: #fff;*/
  /*border: 7px solid #e9ecef;*/
  /*border-radius: 100%;*/
  background-color: var(--bs-purple);
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: black;
}

a {
  color: var(--bs-purple);
}

a:hover {
  color: var(--bs-indigo);
}

#mainNav .navbar-toggler {
  /*font-size: 12px;*/
  /*right: 0;*/
  /*padding: 13px;*/
  /*text-transform: uppercase;*/
  /*color: #fff;*/
  /*border: 0;*/
  background-color: var(--bs-purple);
  /*font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

ul.social-buttons li a {
  /*font-size: 20px;*/
  /*line-height: 40px;*/
  /*display: block;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*transition: all .3s;*/
  /*color: #fff;*/
  /*border-radius: 100%;*/
  /*outline: none;*/
  background-color: var(--bs-purple);
}


.portfolio-modal .modal-content {
  padding:10px  0;
}

.team-member img{
  width:300px;
  height:300px;
  border:7px solid #fff;
}


@media (min-width:1000px) {
  ::-webkit-scrollbar{
    width: 0.3rem;
   }
   ::-webkit-scrollbar-thumb{
    background-color: #6f42c1;
    border:1px solid white;
   }
   ::-webkit-scrollbar-thumb:hover{
     background-color: #6610f2;
   }
   ::-webkit-scrollbar-track{
     background-color: white;
   }
}
.carousel-item img{
  width:295px;
  height:190px ;
  aspect-ratio:295/190;
  object-fit: cover;
}
.project-app-screen-wrapper{
    box-shadow: 7px 7px 40px 0px #000;
    border-radius: 10px;
  width: 100%;
  height: 85vh;
  padding:0px 0px;
}
.project-app-screen{
  border-radius: 10px;

  width: 100%;
  height: 100%;
}




.alwaysAnimate{
animation: myAnim 2s ease  infinite;
}


@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}