.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem var(--bs-purple);
}
.btn-primary{
  background-color: var(--bs-purple) ;
  border-color: var(--bs-purple);
}
*::after{
  pointer-events: none;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem var(--bs-purple) !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var(--bs-indigo) !important;
  border-color: var(--bs-indigo)!important;
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-purple);
}

.text-primary {
  color: var(--bs-purple) !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease .5s;
  /* background-color: #6e42c154; */
  /* background: var(--bs-purple); */
  opacity: 0;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.5;
}

.portfolio-hover-content i{
  opacity: 1 !important ;
  color: white;
}
/* .timeline:before {
  left: 25px;
} */

.timeline > li .timeline-image {
  /*position: absolute;*/
  /*z-index: 100;*/
  /*left: 0;*/
  /* width: 50px; */
  /* height: 50px; */
  /*margin-left: 0;*/
  /*text-align: center;*/
  /*color: #fff;*/
  /*border: 7px solid #e9ecef;*/
  /*border-radius: 100%;*/
  background-color: var(--bs-purple);
}







ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: black;
}

a {
  color: var(--bs-purple);
}

a:hover {
  color: var(--bs-indigo);
}

#mainNav .navbar-toggler {
  /*font-size: 12px;*/
  /*right: 0;*/
  /*padding: 13px;*/
  /*text-transform: uppercase;*/
  /*color: #fff;*/
  /*border: 0;*/
  background-color: var(--bs-purple);
  /*font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

ul.social-buttons li a {
  /*font-size: 20px;*/
  /*line-height: 40px;*/
  /*display: block;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*transition: all .3s;*/
  /*color: #fff;*/
  /*border-radius: 100%;*/
  /*outline: none;*/
  background-color: var(--bs-purple);
}


.portfolio-modal .modal-content {
  padding:10px  0;
}

.team-member img{
  width:300px;
  height:300px;
  border:7px solid #fff;
}


@media (min-width:300px) {
  ::-webkit-scrollbar{
    width: 0.3rem;
   }
   ::-webkit-scrollbar-thumb{
    background-color: #6f42c1;
    border:1px solid white;
   }
   ::-webkit-scrollbar-thumb:hover{
     background-color: #6610f2;
   }
   ::-webkit-scrollbar-track{
     background-color: white;
   }
}
.carousel-item img{
  
  width:100%;
  /* aspect-ratio: 1366/653; */
  aspect-ratio: 	683/384;
  height: auto ; 
  object-fit: cover;
  object-position: center center;
}




.project-app-screen-wrapper{
  box-shadow: 7px 7px 40px 0px #000;
  border-radius: 10px;
  width: 100%;
  height: 90vh;
  padding:0px 0px;
  margin-top: 1.8rem;

  animation: myAnim 2s ease 0s  normal forwards;
}
@media (width<600px) {
  .project-app-screen-wrapper{
    width: 90%;
    margin-inline:auto;
    height:80vh;
  }
  /* .project-app-screen{
    padding:0px 1rem;

  } */
}
.project-app-screen-wrapper::after{
  content: "interactive ✨";
  position: absolute;
  font-size: small;
  font-weight: 700;
  width: max-content;
  padding:0.5rem 1rem;
  height: max-content;
  box-shadow: 7px 7px 40px 0px #000;
  left:50%;
  translate:-50% -50%;
  background-color: #b88cff;
  animation: jello 2s ease 0s infinite normal forwards;

}

@keyframes jello {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.project-app-screen{
  border-radius: 10px;

  width: 100%;
  height: 100%;
}




.alwaysAnimate{
/* animation: myAnim 2s ease  infinite; */
}


@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}


#portfolio .portfolio-item .portfolio-caption h4{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* padding-bottom: 0.7rem; */
  text-transform: uppercase;
  color: grey;
}
#portfolio .btn{
  /* font-family:cursive; */
  font-size: 0.7rem;
  background-color: #6e42c1a6 !important;
}
.carousel{
  border: 1px solid   #3a3a3a;

}

.portfolio-item{
  /* border: 1px solid black; */
  /* box-shadow: 3px 3px 3px 0px #000; */
}
#portfolio .portfolio-item .portfolio-caption a{
  padding: 2px;
  margin:  0.2rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-caption a:hover{
  /* color: white; */

  color: var(--bs-indigo);
}
#portfolio .portfolio-item .portfolio-caption i{
  font-size: 1.4rem;
}

/* #portfolio .portfolio-item .portfolio-caption .btn-group{

  margin: 0.5rem 0;
} */
#portfolio .portfolio-item .portfolio-caption{
  background-color: #292929;
  padding:0.5rem;
}
/* .carousel::after{
  content: "Click for more info";
  height: max-content;
  width: max-content;
  padding: 0.06rem  0.3rem ;
  position: absolute;
  transform: translateY(-100%);
  right: 0;
  line-height: 1;
  z-index: 999;
  color: white;
  font-size:0.4rem ;
  background-color: rgba(0, 0, 0, 0.356);
} */



.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.portfolio-modal .modal-content {
  text-align: start;
}
.portfolio-modal .modal-content p.item-intro{
  margin: 0px 0 30px;
}
.portfolio-modal .modal-content h2{
  margin-bottom: 0px;
}
.portfolio-modal .modal-content p,
.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content h3{
  text-align: center;
}
.model-close-btn-big{
  margin-inline: 0.3rem;
}
#portfolio{
  padding-bottom:0px ;
}


/* <!-- HTML !--> */
/* <button class="do-magic" role="button">Button 49</button> */

/* CSS */
.do-magic-container{
  padding: 0;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.do-magic,
.do-magic:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.do-magic{
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
.do-magic:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.do-magic:after {
  animation: 1s glitch infinite;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .do-magic,
  .do-magic:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}


































@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0) translateY(50%);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0) translateY(50%);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}


.custom-card {
  position: relative;
  background-color: #292929;
  transition: all 0.3s ease-in;
   aspect-ratio: 	683/384;
   left:0;
   right: 0;
  display: grid;
}
.custom-card:after{
  content: "Click for more info";
  height: max-content;
  width: max-content;
  padding: 0.06rem  0.3rem ;
  position: absolute;
  transform: translateY(-100%);
  right: 0;
  /* bottom: 0; */
  top:100%;
  line-height: 1;
  z-index: 999;
  color: white;
  font-size:0.4rem ;
  background-color: rgba(0, 0, 0, 0.356);
}
.custom-card:hover {
  transition: all 0.3s ease-out;
  scale: 1.05;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}
.cardLink{
  text-decoration: none;
  display: block;

}
.card__link {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.card__logo {
  position: absolute;
  width: 4em;
  height: 4em;
  transition: all 0.3s ease-in-out;
  /* opacity: 0; */
  transform: scale(0.9);
}

.card__icon {
  position: absolute;
  width: 4em;
  height: 4em;
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  padding-right: 1rem;
}

/* .custom-card:hover .card__icon {
  opacity: 1;
  transform: scale(1);
} */

.card__media {
  padding: 3em 0;
}
.card__media svg {
  width: 3rem;
}
.card__icon svg path {
  /* opacity: 0; */

  transition: all 0.3s ease-in-out ;
  transform-origin: center center;
}
.custom-card:hover .card__icon svg path {
  -webkit-animation: fadeInScale 0.3s ease-in-out forwards;
          animation: fadeInScale 0.3s ease-in-out forwards;
}
.custom-card:hover .card__icon svg path:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.custom-card:hover .card__icon svg path:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.custom-card:hover .card__icon svg path:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.card__header {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  width: 100%;
}

.card__header-title {
  margin: 0 0 0.25em;
  color: white;
}

.card__header-meta {
  margin: 0;
  color: #999;
}

.card__header-icon {
  /* opacity: 0; */
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1em;
  /* transform: translateX(-20%); */
  translate: -100% -50%;
  width: 2em;
  height: 2em;
  transition: all 0.3s ease-in-out;
  rotate: 90deg;
}
.custom-card:hover .card__header-icon {
  opacity: 1;
  transform: translateX(0);
}


.project-name{
  position: absolute;
  top:0;
  margin-bottom: 0px;
  /* background-color: rgba(0, 0, 0, 0.604); */
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
  font-size: 0.7rem;
  pointer-events: none;
  left: 50%;
  /* opacity: 0; */
  /* padding: 0.1rem 0.4rem; */
  translate: -50% -0%;
  width: 100%;
  overflow: hidden;
  height: 1rem;
}
.project-icons-wrapper{
  position: absolute;
z-index: 1000;
overflow: hidden;
translate: 0% -100%;
/* background-color: red; */
/* width: 50%; */
}
.project-icons{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:flex-start ;
  translate: -100% 0%;
  /* background-color: burlywood; */
  gap:0.2rem;
  margin-bottom: 0.4rem;
  transition:all 0.3s ease;

}



.project-icon{
  font-size: 1.4rem;
  margin-left: 0.4rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

}


.project-icons a{
  color:white;
  text-decoration: none;
}

#portfolio .project-icons .fa, 
#portfolio .project-icons .fa-brands,
#portfolio .project-icons .fa-classic, 
#portfolio .project-icons .fa-regular, 
#portfolio .project-icons  .fa-solid{
  background-color: black;
  z-index: 1001;
  color:white !important;
  padding: 0.3rem 0.5rem;

}
.link-text{
  padding: 0.3rem 0.5rem;
  z-index: -1;
  translate: -100% 0%;
  transition:all 0.3s ease;
  /* opacity: 0; */
  color: white;

}
.project-icon:hover .link-text{

  translate: 0% 0%;
  transition:all 0.3s ease;
  opacity: 1;
  background-color: black;

}




/* #portfolio .portfolio-item:hover .project-name {
  transition:all 0.5s ease-out;
  translate: -50% -100%;
} */
#portfolio .portfolio-item:hover .project-icons,
#portfolio .portfolio-item:focus .project-icons,
#portfolio .portfolio-item:focus-within .project-icons,
#portfolio .portfolio-item:active .project-icons
 {
  transition:all 0.3s ease;
  translate: 0% 0%;
  opacity: 1;

}
.project-name-name{
  position: absolute;
  translate: -50% -100%;
  width: 100%;
  background-color: #000;
  transition:all 0.3s ease-out;
  height: 1rem;
  padding-block: auto;
  margin-block: auto;

}
#portfolio .portfolio-item:hover .project-name-name,
#portfolio .portfolio-item:focus .project-name-name,
#portfolio .portfolio-item:focus-within .project-name-name,
#portfolio .portfolio-item:active .project-name-name
 {
  transition:all 0.3s ease-out;
  translate: -50% 0%;
}
/* 
#portfolio .portfolio-item:hover .active,
#portfolio .portfolio-item:focus .active,
#portfolio .portfolio-item:focus-within .active,
#portfolio .portfolio-item:active .active
 {
  scale: 1.002;
} */
#portfolio .portfolio-item .portfolio-caption {
  padding: 0rem;
  
}

#portfolio .portfolio-item .portfolio-link {
    max-width: 100%;
    margin: 0 0;
}

.carousel-control-prev{
  height: max-content ;
  top:50%;
  translate: -10% -50%;
  transition: all 0.3s ;
  opacity: 0;

}
.carousel-control-next {
  height: max-content ;
  top:50%;
  translate: 10% -50%;
  transition: all 0.3s ;
  opacity: 0;
}

#portfolio .portfolio-item:hover .carousel-control-prev,
#portfolio .portfolio-item:focus .carousel-control-prev,
#portfolio .portfolio-item:focus-within .carousel-control-prev,
#portfolio .portfolio-item:active .carousel-control-prev
 {
  translate: 0% -50%;
  opacity: 1;
}
#portfolio .portfolio-item:hover .carousel-control-next,
#portfolio .portfolio-item:focus .carousel-control-next,
#portfolio .portfolio-item:focus-within .carousel-control-next,
#portfolio .portfolio-item:active .carousel-control-next
 {
  translate: 0% -50%;
  opacity: 1;
}




@media (width<991px){
  .project-icon {
    font-size: 0.5rem;
  }

}


@media (width<768px){
  .carousel::after{
    content: "Click for more info";
    height: max-content;
    width: max-content;
    padding: 0.06rem  0.3rem ;
    position: absolute;
    transform: translateY(-100%);
    right: 0;
    line-height: 1;
    z-index: 999;
    color: white;
    font-size:0.4rem ;
    background-color: rgba(0, 0, 0, 0.356);
  }
  .project-icons{
    transition:all 0.3s ease;
    translate: 0% 0%;
    opacity: 1;
  }
  .carousel-control-next
  {
    translate: 0% -50%;
    opacity: 1;
  }
  .carousel-control-prev
  {
    translate: 0% -50%;
    opacity: 1;
  }
  .link-text{
    position: absolute;
    width: max-content;
    transform: translate(-100%,0%);
  }


}


@media (width<425px) {


  .card__header-title {
    font-size: 0.8rem;
  }
  .custom-card {
    font-size: 0.7rem;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 0.7rem;
  }
  .timeline>li .timeline-panel ,
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 5px 0 30px;
  }
  .timeline-heading{
    padding-left: 40px;
    font-size: 2rem;
    margin-top: 15px;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    font-size: 0.8rem;
  }
  .timeline-body>p ,p{
    margin-top: 25px;
    font-size: 0.7rem;
  }
  .team-member img{
    width: 90vw;
    height: 90vw;
  }
  h2{
    font-size: 2rem !important;
  }
  section {
    padding: 40px 0;
  }
  section h3.section-subheading, section .section-subheading.h3{
  margin-bottom: 20px;
  }
  #about ul.list-group li {
     margin-bottom: 5px;
  }
  #services span  {
    font-size: 2em;
  }
  #services p  {
    margin-top:0 ;
  }

  #portfolio .portfolio-item .portfolio-caption {
    padding: 4vw 3vw;
  }
  .btn-group, .btn-group-vertical {
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio-modal .modal-content {
    font-size: 0.7rem;
  }
  .modal-body {
    padding: 0.1rem;
  }
  
}

@media (width<234px) {
  .timeline>li .timeline-image{
    height: 25vw;
    width: 25vw;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
  }
  .timeline-heading{
    padding-left: 13vw;
  }
  .timeline>li .timeline-panel ,
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 5px 0 12px;
  }
  .be-part h4{
    display: none;
  }
}


.custom{
  aspect-ratio: 	683/384;

}